html,
body {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  transition: all 0.5s;
}

/* Variables */
:root {
  
}

/*Fuentes*/
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf"); /* IE9 Compat Modes */
  src: url("./fonts/Roboto-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "Roboto-medium";
  src: url("./fonts/Roboto-Medium.ttf");
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-bold";
  src: url("./fonts/Roboto-Bold.ttf");
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-black";
  src: url("./fonts/Roboto-Black.ttf");
  src: url("./fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-thin";
  src: url("./fonts/Roboto-Thin.ttf");
  src: url("./fonts/Roboto-Thin.ttf") format("truetype");
}

/*Padding*/
.padding-n {
  padding: 2.5vh 5vh;
}

/* Flecha */
.arrow {
  text-align: center;
  margin: 0px;
  height: 20px;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Button */
button{
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 40px;
  margin: 10px;
  width: 170px;
  color: white;
  border: solid 2px white;
  border-radius: 20px;
}

button:hover{
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

/* Header */
#portada-container-header-logo {
  width: 16vh;
  max-width: 150px;
}

#portada-container-header {
}


/* Flex */

.flex-vw {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-a-left {
  justify-content: left;
}

.flex-space{
  justify-content: space-between;
}

.flex-a-right {
  justify-content: right;
}

.flex-column{
  flex-direction: column;
}
/* Anchos */
.w-50 {
  width: 50%;
}

.w-75 {
    width: 75%;
}
/* Texto */
h1 {
  font-family: "Roboto-bold";
  font-size: 70px;
}

p {
  font-family: "Roboto-thin";
  font-size: 25px;
}

/* Header menu */
#menu{
  font-family: "Roboto-thin";
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#menu a{
  text-decoration: underline;
  margin: 0px 15px;
  cursor: pointer;
  color: white;
}

#menu a:hover{
  background-color: white;
  color: black;
}

#menumovil{
  display: none;
  width: 25px;
  height: 25px;
  background: url("./../media/icons/bars-solid.svg") no-repeat;
}

.menumovilClose{
  background: url("./../media/icons/times-solid.svg") no-repeat !important;
}


#menumovil-items{
  display: none;
  background-color : white;
  border-radius: 10px;
  flex-direction: column;
}

.menumovil-show{
  height: fit-content !important;
  background-color: white;
  border-radius: 10px;
  display: inline !important;
  flex-direction: column;
}

.noHeight{
  height: 0vh;
  display: none;
}

.displayInline{
  display: inline !important;
}

#items{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-size: 20px;
}

#items a {
  text-decoration: none;
  font-family: 'Roboto-thin';
  color: black;
  border-top: solid 1px black;
  width: 80%;
  padding: 10px;
  text-align: center;
}

#items a:last-child {
  border-bottom: solid 1px black;
}

/* Pantalla pequeña */
@media (max-width: 1440px) {
}

/* Tablet */
@media (max-width: 768px) {
    h1{
        font-size: 50px;
    }

    .padding-n {
        padding: 2.5vh 5vh;
    }

    p {
        font-size: 20px;
    }

    #menu{
      display: none;
    }

    #menumovil{
      display: inline !important;
    }
}

/* Movil */
@media (max-width: 450px) {
    h1{
        font-size: 35px;
    }
    .padding-n {
        padding: 1.5vh 2vh;
    }
    p {
        font-size: 20px;
    }
}