#portada {
  overflow: hidden;
  height: 100vh;
  color: white;
}
#background {
  filter: brightness(0.45);
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -100;
}
#portada-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#portada-container-header-t{
  margin-top: 0px;
}

#blog {
  height: 50vh;
  width: 100%;
  background: #1488CC;
  background: linear-gradient(to right, rgba(43, 50, 178, 1), rgba(20, 136, 204, 1));
  z-index: 100;
}

/* Pantalla pequeña */
@media (max-width: 1440px) {
  #portada-container-contenido-t {
    width: 100%;
  }
}

/* Tablet */
@media (max-width: 768px) {

}

/* Movil */
@media (max-width: 450px) {
  #container-buttons{
    display: flex;
    flex-direction: column;
  }

  #container-buttons button{
    width: 100%;
    margin: 10px 0px;
  }

}
